{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

        {% block content %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <form class="form" action="question_contact_ineligible_type" method="post">

                <h1 class="govuk-heading-l">Contact your building manager or landlord first</h1>
                <p class="govuk-body">
                  Before using this service you should have first raised the concern or complaint with your building manager (if you own the property) or your landlord (if you rent the property) and given them the opportunity to resolve the issue.
                </p>

                <p class="govuk-body">
                  This is because they are in the best position to resolve it quickly.
                </p>

            </div>
          </div>
          <p class="govuk-body">
            If you still feel we should receive your concern or complaint now, please continue.
          </p>


          <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

      </div>
    </div>

    {% endblock %}
