{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Complaint submitted</h1>
        <div class="govuk-panel__body">
          Your case number<br><strong>P8001000D</strong>
        </div>
      </div>
<br>
      <p>
        We have sent you a confirmation email.
      </p>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "If your complaint concerns an immediate risk of injury or death, please call 999.",
  iconFallbackText: "Warning"
}) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Thank you for raising your complaint with us. We take all complaints seriously.</p>

      <p>After your complaint is submitted, it will be read by the Building Safety Regulator’s triage team (a team who review building safety complaints). They will decide: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>if this complaint has come to the right place</li>
        <li>if there have been other similar complaints already made</li>
        <li>if any more information or evidence is needed</li>
        <li>the severity level of the complaint (red or amber) </li>
      </ul>

      <p>Once this has been decided (within 48 hours of receiving the complaint) you will be contacted with the next steps.</p>
      <p>For amber level complaints, the triage team will contact you and the accountable person for the building to resolve the issue remotely.</p>
      <p>For red level complaints, there will be a complaints inspector assigned who will deal directly with the building’s accountable person, arranging an inspection, writing up a report, and – if the complaint is upheld – working with the accountable person to resolve the issue. If there has been a breach of law, this may lead to enforcement (the accountable person will be forced to solve the issue).</p>
      <p>If you have asked to be anonymous, the BSR will not reveal your identity to the accountable person and all correspondence will be separate.</p>

      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
