{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Complaint submitted</h1>
        <div class="govuk-panel__body">
          Your case number<br><strong>P8001000D</strong>
        </div>
      </div>
<br>
      <p>
        We have sent you a confirmation email.
      </p>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "If your complaint concerns an immediate risk of injury or death, please call 999.",
  iconFallbackText: "Warning"
}) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Thank you for raising your complaint with us. We take all complaints seriously.</p>

      <p>Within 48 hours of receiving your complaint the Building Safety Regulator will decide:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>if your complaint has come to the right place</li>
        <li>if there are other complaints about the same issue</li>
        <li>if any more information or evidence is needed</li>
        <li>the severity level of your complaint</li>
      </ul>

      <p>The regulator will contact you about their decision, and tell you what their next actions will be if your complaint is upheld.</p>
      <p>For severe complaints, the Regulator will inspect the building, write a report, and work with the accountable person for the building to resolve the issue. The Regulator can enforce remedies if there has been a breach of law.</p>
      <p>For less severe complaints, the Regulator will contact the accountable person for the building and recommend actions to resolve the issue.</p>
      <p>If you have asked to be anonymous, the Regulator will not reveal your identity to the accountable person.</p>

      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
