{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

        {% block content %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

<form class="form" action="question_complaint_text" method="post">

                <h1 class="govuk-heading-l">The Building Safety Regulator is responsible for fire and structural safety issues only.</h1>
                <p class="govuk-body">
                  If your complaint relates to something else, please see some guidance below on who to speak to.
                </p>

                {{ govukWarningText({
                  text: "If your complaint concerns an immediate risk of injury or death, please call 999.",
                  iconFallbackText: "Warning"
                }) }}

                <p class="govuk-body">
                  Your complaint will be handled faster if it is directed to the correct team.
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>For noise complaints or environmental issues, <a href="#" class="govuk-link">contact your local authority</a></li>
                  <li>For neighbour disputes, <a href="#" class="govuk-link">see GOV.UK's guidance</a></li>
                  <li>For criminal damage, vandalism or theft, call the non-emergency police line on 150</li>
                </ul>

                <p class="govuk-body">
                  If you still feel we are the best place to receive your complaint, please continue.
                </p>
            </div>
          </div>
          <br>

                  <button class="govuk-button" data-module="govuk-button">Continue</button>

        {% endblock %}
