{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Why is there a risk of fire or electrocution?</h1>

      <form class="form" action="question_contact_text" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "reasons",
  name: "reasons",
  fieldset: {
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "Risk of electrical fire",
      text: "Risk of electrical fire (from a device or appliance in the building)"
    },
    {
      value: "Risk of fire from unsafe behaviour",
      text: "Risk of fire from unsafe behaviour (for example, smoking outside designated areas)"
    },
    {
      value: "Fire safety systems do not function properly",
      text: "Fire safety systems do not function properly (for example, there is an issue with fire doors, alarms or sprinklers)"
    },
    {
      value: "Other",
      text: "Other (please specify below)"
    }
  ]
}) }}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "other-reasons",
  id: "other-reasons",
  label: {
    text: "Provide more detail here, or describe another risk not listed"
  }
}) }}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "Upload a file (for example, a photograph)"
  }

}) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
