{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="question_units" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "height",
  name: "height",
  label: {
    text: "What is the height of the building in metres?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  value: data['height'],
  suffix: {
    text: "m"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
