{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Report complaint to BSR</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to submit a concern or complaint about the safety of a high rise building, if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you live in the high rise building OR</li>
        <li>your job requires spending time in the high rise building</li>
      </ul>

      <p>A high rise building has at least 2 residential units and is <i>either</i> 18m high OR has 6 or more storeys.</p>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "If your complaint concerns an immediate risk of injury or death, please call 999.",
  iconFallbackText: "Warning"
}) }}

<p>Before using this service you must have first raised the concern or complaint with your building manager (if you own the property) or your landlord (if you rent the property) and given them reasonable time to respond.</p>

      <p>You can choose to remain anonymous to your building manager (and all building staff) within this process.</p>

      <p>Submitting a concern or complaint takes around 5 minutes.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You'll be asked for details about who you've already raised this concern to and when. You'll also be asked to provide any supporting documentation. You'll be contacted if more evidence is needed.</p>

      <h2 class="govuk-heading-m">When not to use this service</h2>

      <p>You should not use this service if your concern or complaint is about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>noise complaints (<a href="#">contact your local authority</a>)</li>
        <li>neighbour disputes (<a href="#">see GOV.UK's guidance</a>)</li>
        <li>environmental issues (<a href="#">contact your local authority</a>)</li>
        <li>criminal damage or vandalism (call the non-emergency police line on 150)</li>
        <li>violent crime or theft (call the non-emergency police line on 150)</li>
      </ul>

      <a href="question_address" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">If you need help using this service</h2>

<p>The quickest way to raise a concern or complaint with us is using this online service. If you can't use this service, though, you can phone our support team and we will fill in the form with you.</p>

      <p>Telephone: 0300 003 1647</p>
      <p>Monday, Tuesday, Thursday, Friday: 8:30am to 5pm (except public holidays)</p>
      <p>Wednesday: 10am to 5pm</p>
      <p>If you need an interpreter, please fill out this <a href="#">short request form</a>.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
