{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Report complaint to BSR</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to submit a concern or complaint about the safety of a high-rise building, if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you live in the high-rise building, or</li>
        <li>you're acting on behalf of someone who lives in the high-rise building, or</li>
        <li>your job requires spending time in the high-rise building</li>
      </ul>

      <p>A high-rise building is:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><i>either</i> 18 metres high <i>or</i> has 7 or more storeys</li>
        AND
        <li>contains 2 or more residential units</li>
      </ul>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "If your complaint concerns an immediate risk of injury or death, please call 999.",
  iconFallbackText: "Warning"
}) }}

<p>Before using this service you must first raise the concern or complaint with your building manager (if you own the property) or your landlord (if you rent the property) and give them reasonable time to respond.</p>

      <p>You can choose to remain anonymous to your building manager (and all building staff) within this process.</p>

      <p>Submitting a concern or complaint takes around 5 minutes.</p>

      <h2 class="govuk-heading-m">When not to use this service</h2>

      <p>You should not use this service if your concern or complaint is about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>noise complaints (<a href="#">contact your local authority</a>)</li>
        <li>neighbour disputes (<a href="#">see GOV.UK's guidance</a>)</li>
        <li>environmental issues (<a href="#">contact your local authority</a>)</li>
        <li>criminal damage or vandalism (call the non-emergency police line on 150)</li>
        <li>violent crime or theft (call the non-emergency police line on 150)</li>
      </ul>

      <h2 class="govuk-heading-m">What happens when you raise a complaint</h2>

      <p>Within 48 hours of receiving your complaint the Building Safety Regulator will decide:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>if your complaint has come to the right place</li>
        <li>if there are other complaints about the same issue</li>
        <li>if any more information or evidence is needed</li>
        <li>the severity level of your complaint</li>
      </ul>

      <p>The regulator will contact you about their decision, and tell you what their next actions will be if your complaint is upheld.</p>
      <p>For severe complaints, the Regulator will inspect the building, write a report, and work with the accountable person for the building to resolve the issue. The Regulator can enforce remedies if there has been a breach of law.</p>
      <p>For less severe complaints, the Regulator will contact the accountable person for the building and recommend actions to resolve the issue.</p>
      <p>If you have asked to be anonymous, the Regulator will not reveal your identity to the accountable person.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You'll be asked for details about who you've already raised this concern to and when. You'll also be asked to provide any supporting documentation (such as photographs of the issue or any relevant email exchanges).</p>

      <a href="question_address" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">If you need help using this service</h2>

<p>The quickest way to raise a concern or complaint with us is using this online service. If you can't use this service, though, you can phone our support team and we will fill in the form with you.</p>

      <p>Telephone: 0300 003 1647</p>
      <p>Monday, Tuesday, Thursday, Friday: 8:30am to 5pm (except public holidays)</p>
      <p>Wednesday: 10am to 5pm</p>
      <p>If you need an interpreter, please fill out this <a href="#">short request form</a>.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
